<div class="row" ng-repeat="partNews in news" style="margin-bottom: 15px;">
    <div class="col-md-2" ng-repeat="new in partNews">
        <div class="thumbnail">
            <a href="#/{{new.type}}/menu/{{new.id}}">
                <img class="img-thumbnail" src="{{new.icon}}" style="width: 210px; height: 140px;">

                <div class="caption">
                    <h3>{{new.title}}</h3>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4">
        <pagination boundary-links="true" num-pages="totalPages" current-page="number" max-size="5"
                    class="pagination-right" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                    last-text="&raquo;" on-select-page="setPage(page);"></pagination>
    </div>
</div>