<div class="col-md-2 navbar navbar-default">
    <ul class="nav nav-pills nav-stacked dropright">
        <li class="dropdown" ng-repeat="parentType in giftParentTypes">
            <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">{{parentType.title}}</a>
            <ul class="dropdown-menu" role="menu">
                <li role="presentation" ng-repeat="subType in parentType.subTypes">
                    <a role="menuitem" tabindex="-1" href="#/gifts/{{subType.id}}">{{subType.title}}</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div class="col-md-10" ui-view ng-animate="{enter:'fade-enter'}"></div>