<div class="span3">
    <div class="well sidebar-nav">
        <ul ng-tree="items" class="tree_style">
            <li class="dropdown">
                <i ng-class="item.clazz" ng-click="toggle()"></i>
                &nbsp;<a ng-href="{{item.url}}">{{item.name}}</a>
                <i class="icon-plus" ng-click="add()"></i>
                <i class="icon-edit" ng-click="edit()" ng-hide="item.root"></i>
                <i class="icon-remove" ng-click="delete()" ng-show="item.leaf"></i>
                <a class="icon-list" ng-href="#/systemCode/gift/cid/{{item.id}}" ng-hide="item.root"></a>
            </li>
        </ul>
    </div>
</div>
<div class="span9" ui-view ng-animate="{enter:'fade-enter'}"></div>