body {
    min-height: 2000px;
    padding-top: 70px;
}

.dropright .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
    top: 0px;
    left: 100%;
    margin-left: 1px;
}

.tree_style li {
    list-style-type: none;
}

.pagination {
    margin: 0;
}

.editor_model {
    width: 1024px;
    height: 500px;
    margin-left: -512px;
}

.ng-tree {
    margin-left: -15px;
}