<div class="col-md-3">
    <div class="navbar navbar-default sidebar-nav">
        <ul ng-tree="items" class="tree_style">
            <li class="dropdown">
                <i ng-class="item.clazz" ng-click="toggle()"></i>
                &nbsp;<a ng-href="{{item.url}}">{{item.name}}</a>
                <i class="glyphicon glyphicon-plus" ng-click="add()"></i>
                <i class="glyphicon glyphicon-edit" ng-click="edit()" ng-hide="item.root"></i>
                <i class="glyphicon glyphicon-remove" ng-click="delete()" ng-show="item.leaf"></i>
                <a class="glyphicon glyphicon-file" ng-href="#/menu/entry/menu/{{item.id}}" ng-hide="item.root"></a>
            </li>
        </ul>
    </div>
</div>
<div class="col-md-9" ui-view ng-animate="{enter:'fade-enter'}"></div>