<form class="form-horizontal" style="max-height: 700px;">
    <fieldset>
        <legend>条目编辑</legend>
        <input type="hidden" ng-model="id"/>

        <div class="control-group">
            <label class="control-label" for="menu-code">编码</label>

            <div class="controls">
                <input id="menu-code" type="text" ng-model="menu.code" placeholder="编码"
                       required/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="menu-name">名称</label>

            <div class="controls">
                <input type="text" id="menu-name" ng-model="menu.name" placeholder="名称" required>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="menu-title">标题</label>

            <div class="controls">
                <input type="text" id="menu-title" ng-model="menu.title" placeholder="标题" required>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="menu-url">链接</label>

            <div class="controls">
                <input type="text" id="menu-url" class="menu-xlarge" ng-model="menu.url"
                       placeholder="链接">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="menu-icon">图标</label>

            <div class="controls">
                <input type="text" id="menu-icon" class="menu-xlarge" ng-model="menu.icon"
                       placeholder="图标">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">类型</label>

            <div class="controls">
                <select ng-model="menu.type"
                        ng-options="c.value as c.name for c in [{name:'type1', value:1},{name:'type2',value:2}]"
                        placeholder="类型">
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">描述</label>

            <div class="controls">
                <textarea rows="3" cols="5" ng-model="menu.content"></textarea>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">是否有效</label>

            <div class="controls">
                <label class="radio inline">
                    <input type="radio" ng-model="menu.valid" value="true"/>是
                </label>
                <label class="radio inline">
                    <input type="radio" ng-model="menu.valid" value="false"/>否
                </label>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
                <button class="btn btn-primary save" ng-click="save()">保存</button>
            </div>
        </div>
    </fieldset>
</form>