<div id="menu-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="menuModalLabel"
     aria-hidden="true">
    <form class="input-form form-horizontal modal-form" id="menu-form">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>菜单编辑</h3>
        </div>
        <div class="modal-body">
            <input type="hidden" name="id" value="<%= id%>"/>
            <input type="hidden" name="parentId" value="<%= parent%>"/>

            <div class="control-group"></div>
            <div class="control-group">
                <label class="control-label" for="input-code">编码</label>

                <div class="controls">
                    <input type="text" id="input-code" name="code" value="<%= code%>" class="required" placeholder="编码"
                           required/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input-name">名称</label>

                <div class="controls">
                    <input type="text" id="input-name" name="name" value="<%= name%>" placeholder="名称" required>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input-url">链接</label>

                <div class="controls">
                    <input type="text" id="input-url" class="input-xlarge" name="url" value="<%= url%>"
                           placeholder="链接">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input-icon">图标</label>

                <div class="controls">
                    <input type="text" id="input-icon" class="input-xlarge" name="icon" value="<%= icon%>"
                           placeholder="图标">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input-type">类型</label>

                <div class="controls">
                    <select id="input-type" name="type" placeholder="类型">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input-isValid">是否有效</label>

                <div class="controls">
                    <label class="radio inline">
                        <input type="radio" name="isValid" id="input-isValid" value="1" <%=isValid===true ?
                        'checked':''%>/>是
                    </label>
                    <label class="radio inline">
                        <input type="radio" name="isValid" id="input-isValid1" value="0" <%=isValid===false ?
                        'checked':''%>/>否
                    </label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input-descr">描述</label>

                <div class="controls">
                    <textarea rows="3" cols="5" id="input-descr" name="descr"><%= descr%></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
            <button class="btn btn-primary save" type="button">保存</button>
        </div>
    </form>
</div>
